*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    height: 100vh;
    padding: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.welcome {
    font-size: 1.9rem;
    font-weight: 500;
}

.logo {
    height: 5.25rem;
}

.login {
    display: flex;
}

.login__input--user {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 12rem;
    border-radius: 10rem;
    margin-right: 1rem;
    color: inherit;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.login__input--user:focus{
    outline: none;
    border: 1px solid #ccc;
}
.login__input--user::placeholder{
    color: #bbb;
}

.login_btn {
    border: none;
    background-color: none;
    font-size: 2.2rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}
.login_btn:hover,
.login_btn:focus,
.login_sort:hover,
.login_sort:focus
{
    outline: none;
    color: #777;
}
.app {
    position: relative;
    max-width: 100rem;
    height: 60rem;
    margin: 4rem auto;
    transition: all 1s;
}

.balance {
    grid-column: 1 /span 2;
    align-items: flex-end;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
}
.balance_container{
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-between;
}

.balance_label {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: -0.2rem;
}

.balance_date {
    font-size: 1.4rem;
    color: #888;
    margin: 5% 0;
}


.balance_value {
    font-size: 4.5rem;
    font-weight: 400;
}

.balance_movements{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.movements {
    width: 50%;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
}

.movements__row {
    padding: 2.25rem 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.movements__type {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 1rem;
    border-radius: 10rem;
    margin-right: 2rem;
}

.movements__type--deposit {
    background-color: linear-gradient(to top left, #39b385, #9be15c);
}

.movements__date {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
}

.movements__value {
    font-size: 1.7rem;
    margin-left: auto;
}

.movements__type--withdraw {
    background-color: linear-gradient(to top left, #e52a5a, #ff5851);
}


.summary{
    width: 50%;
    height: 80%;
}
.summary_item {
    width: 100%;
    height: 30%;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 10px;
    
}

.summary_item:nth-child(1) {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}
.summary_item:nth-child(2) {
    background-image: linear-gradient(to top left, #02c37c, #2ae59a);
}
.summary_item:nth-child(3) {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.item_title {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.item_title>h1{
    color: black;
    font-size: 1.5rem;
}

.item_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    opacity: 2;
}

.item {
    height: 50%;
    text-align: center;
}
.item>p{
    margin: 5% 0;

}
.item>input, button{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    outline: none;
    border: none;
}


    /* color: #66c873;
    color: #f5465d; */
    /* color: #333;
    background-color: linear-gradient(to top left, #ffb003, #ffcb03); 
    background-color: linear-gradient(to top left, #e52a5a, #ff585f);
    
    background-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.6);
    */
